@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&family=Montserrat&family=Quicksand&display=swap');

:root {
  --hover-Color: rgb(216, 215, 215);
  --font-color: aquamarine;
}

* {
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(31, 30, 30);
  color: white;
}

img {
  max-width: 40px;
}

#root {
  min-height: 100vh;
}


h1 {
  text-align: center;
  color: var(--font-color);
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.scoreUI {
  margin: 0;
  margin-top: 10px;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 10px;
}

hr {
  background-color: azure;
  opacity: 0.1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro-paragraph {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 40px;
}

.intro-button {
  all: unset;
  font-size: 2rem;
  border-radius: 10px;
  outline: 1px solid var(--font-color);
  padding: 10px;
  background-color: rgb(61, 61, 61);
  color: white;
  width: 193px;
  text-align: center;
  cursor: pointer;
}

.game {
  text-align: center;
  margin: auto 30px;
  padding-bottom: 12px;
}

.gameQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
}


ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.game-option {
  border: 1px solid var(--font-color);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.checkAnswer-Div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.checkAnswer-Btn {
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px 20px;
  /* padding: 20px; */
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--font-color);
}

.loadingApi {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 4rem;
  color: var(--font-color);
}

/* li {
  background-color: rgb(145, 57, 57);
} */

.game-option:hover {
  background-color: var(--hover-Color);
  cursor: pointer;
  color: black;
  transform: scale(0.9);
}

.checkAnswer-Btn:hover {
  background-color: var(--hover-Color);
  color: black;
  transform: scale(1.05);
}