@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&family=Montserrat&family=Quicksand&display=swap');

:root {
  --hover-Color: rgb(216, 215, 215);
  --font-color: aquamarine;
}

* {
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(31, 30, 30);
  color: white;
}

.loadingApi {
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 4rem;
  color: var(--font-color);
}

img {
  max-width: 40px;
}

#root {
  min-height: 100vh;
}


h1 {
  color: var(--font-color);
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.userSelected-type {
  margin: auto 30px;
}

.scoreUI {
  margin: 0;
  margin-top: 10px;
  font-size: 2rem;
}

hr {
  background-color: azure;
  opacity: 0.1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: auto 50px;
}

.intro-heading {
  text-align: center;
}

.intro-paragraph {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
}

.intro-button-div {
  display: flex;
  justify-content: center;
}

.intro-button {
  all: unset;
  font-size: 2rem;
  border-radius: 10px;
  outline: 1px solid var(--font-color);
  padding: 10px;
  background-color: rgb(61, 61, 61);
  color: white;
  width: 193px;
  text-align: center;
  cursor: pointer;
}

/* button style */

.selectionMenu-confirm-btn {
  all: unset;
  font-size: calc(1rem + 1vw);
  border-radius: 10px;
  outline: 1px solid var(--font-color);
  padding: 10px;
  margin: 10px;
  background-color: rgb(61, 61, 61);
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 20px;
  transition: 0.5s;
}


.selectionMenu {
  display: grid;
  gap: 20px;
}

.selectionMenu-numberOfQuestion-buttons,
.selectionMenu-categories-buttons,
.selectionMenu-difficulty-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  gap: 20px;
  justify-content: center;
}

.select-style {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: 1px solid var(--font-color);
  cursor: pointer;
}

.option-style {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: 1px solid var(--font-color);
}


.selectionMenu-confirm-btn-div {
  text-align: center;
}

.selectionMenu-default-text {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

mark {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid var(--font-color);
}

.game {
  text-align: center;
  margin: auto 30px;
  padding-bottom: 12px;
}

.game-Question {
  font-size: 1.2rem;
  margin: 10px;
}

.game-Question-div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-All-Options {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.game-option {
  border: 1px solid var(--font-color);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.checkAnswer-Div {
  display: flex;
  text-align: center;
  justify-content: center;
}

.checkAnswer-Btn {
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--font-color);
}

.menu {
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--font-color);
  max-width: 75px;
  background-color: black;
  transition: 0.5s;
}


.game-option:hover {
  background-color: var(--hover-Color);
  cursor: pointer;
  color: black;
  transform: scale(0.9);
}

.checkAnswer-Btn:hover {
  background-color: var(--hover-Color);
  color: black;
  transform: scale(1.05);
}

.menu:hover {
  background-color: var(--hover-Color);
  color: black;
  transform: scale(1.1);
}

.selectionMenu-confirm-btn:hover {
  background-color: var(--hover-Color);
  cursor: pointer;
  color: black;
  transform: scale(0.9);
}